<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link font inter -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <!-- Link font bricolage-grotesque -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap" rel="stylesheet">
  <!-- Reset CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <!-- Link CSS -->
  <link rel="stylesheet" href="./assets/css/main_admin.css">
  <link rel="stylesheet" href="./assets/css/base_admin.css">
  <title>User</title>
</head>
<body>
<div id="main-admin-page">
  <div class="admin-header">
    <div class="navbar">
      <img src="./assets/img/nav-logo.svg" alt="" class="nav-logo">
      <img src="./assets/img/nav-profile.svg" alt="" class="nav-profile">
    </div>
  </div>
  <div class="admin-container">
    <div class="admin-sidebar bricolage-grotesque">
      <div class="sidebar-menu-item">
        <img src="./assets/img/home-icon.svg" alt="">
        <a href="">Home</a>
      </div>
      <hr class="sidebar-menu-item-hr">
      <div class="sidebar-menu-item">
        <img src="./assets/img/category-icon.svg" alt="">
        <a href="">Category</a>
      </div>
      <hr class="sidebar-menu-item-hr">
      <div class="sidebar-menu-item">
        <img src="./assets/img/product-icon.svg" alt="">
        <a href="">Product</a>
      </div>
      <hr class="sidebar-menu-item-hr">
      <div class="sidebar-menu-item">
        <img src="./assets/img/color-icon.svg" alt="">
        <a href="">Color</a>
      </div>
      <hr class="sidebar-menu-item-hr">
      <div class="sidebar-menu-item">
        <img src="./assets/img/size-icon.svg" alt="">
        <a href="">Size</a>
      </div>
      <hr class="sidebar-menu-item-hr">
      <div class="sidebar-menu-item background-for-active">
        <img src="./assets/img/user-icon.svg" alt="">
        <a href="">User</a>
      </div>
      <hr class="sidebar-menu-item-hr">
      <div class="sidebar-menu-item">
        <img src="./assets/img/role-icon.svg" alt="">
        <a href="">Role</a>
      </div>
    </div>
    <div class="admin-content">
      <div class="admin-user">
        <div class="admin-user-content inter">
          <div class="update-user">
            <h1>Update User</h1>
            <div class="user-itemfield">
              <p>ID</p>
              <input type="text" name='name' placeholder='Type here' />
            </div>
            <div class="user-itemfield">
              <p>User name</p>
              <input type="text" name='name' placeholder='Type here' />
            </div>
            <div class="user-itemfield">
              <p>Password</p>
              <input type="text" name='name' placeholder='Type here' />
            </div>
            <div class="user-itemfield">
              <p>Phone number</p>
              <input type="text" name='name' placeholder='Type here' />
            </div>
            <div class="user-itemfield">
              <p>Address</p>
              <input type="text" name='name' placeholder='Type here' />
            </div>
            <button class='user-btn'>update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>