<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <!-- Link font bricolage-grotesque -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap"
          rel="stylesheet">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/main_admin.css">
    <link rel="stylesheet" href="/static/css/base_admin.css">
    <title>Product</title>
</head>
<body>
<div id="main-admin-page">
    <div class="admin-header">
        <div class="navbar">
            <img src="/static/image/nav-logo.svg" alt="" class="nav-logo" onclick="window.location='/admin_index'">
            <img src="/static/image/nav-profile.svg" alt="" class="nav-profile">
        </div>
    </div>
    <div class="admin-container">
        <div class="admin-sidebar bricolage-grotesque">
            <div class="sidebar-menu-item">
                <img src="./static/image/home-icon.svg" alt="">
                <a th:href="@{/admin_index}">Home</a>
            </div>
            <hr class="sidebar-menu-item-hr">
            <div class="sidebar-menu-item">
                <img src="/static/image/category-icon.svg" alt="">
                <a th:href="@{/getAllCategory}">Category</a>
            </div>
            <hr class="sidebar-menu-item-hr">
            <div class="sidebar-menu-item background-for-active">
                <img src="/static/image/product-icon.svg" alt="">
                <a th:href="@{/getAllProduct}">Product</a>
            </div>
            <hr class="sidebar-menu-item-hr">
            <div class="sidebar-menu-item">
                <img src="/static/image/color-icon.svg" alt="">
                <a th:href="@{/getAllColor}">Color</a>
            </div>
            <hr class="sidebar-menu-item-hr">
            <div class="sidebar-menu-item">
                <img src="/static/image/size-icon.svg" alt="">
                <a th:href="@{/getAllSize}">Size</a>
            </div>
            <hr class="sidebar-menu-item-hr">
            <div class="sidebar-menu-item">
                <img src="/static/image/user-icon.svg" alt="">
                <a th:href="@{/getAllUser}">User</a>
            </div>
            <hr class="sidebar-menu-item-hr">
            <div class="sidebar-menu-item">
                <img src="/static/image/role-icon.svg" alt="">
                <a th:href="@{/getAllRole}">Role</a>
            </div>
        </div>
        <div class="admin-content">
            <div class="admin-product">
                <div class="admin-product-content inter">
                    <form th:action="@{/updateProduct}" method="post" enctype="multipart/form-data"
                          th:object="${selected_product}">
                        <div class="update-product">
                            <div class="updateproduct-itemfield">
                                <p>ID</p>
                                <input readonly th:field="*{productId}" type="text" name='name' placeholder='Type here'/>
                            </div>
                            <div class="updateproduct-itemfield">
                                <p>Product name</p>
                                <input th:field="*{productName}" type="text" name='name' placeholder='Type here'/>
                            </div>
                            <div class="updateproduct-itemfield">
                                <p>Product description</p>
                                <input th:field="*{description}" type="text" name='name' placeholder='Type here'/>
                            </div>
                            <div class="updateproduct-price">
                                <div class="updateproduct-itemfield">
                                    <p>Price</p>
                                    <input th:field="*{price}" type="text" name='old_price' placeholder='Type here'/>
                                </div>
                            </div>
                            <div class="updateproduct-itemfield">
                                <p>Product Category</p>
                                <select th:field="*{category_id}" name="category" class='update-product-selector'>
                                    <option th:each="category:${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                                </select>
                            </div>
                            <div class="updateproduct-upload">
                                <div class="updateproduct-itemfield updateproduct-upload-custom">
                                    <label for="file-input">Chọn ảnh:</label>
                                    <input th:field="*{file}" type="file" name='image' id='file-input'/>
                                </div>
                            </div>
                            <button type="submit" class='updateproduct-btn'>Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>