/* CSS Navbar */
.admin-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px;
    box-shadow: 0 1px 3px -2px #000;
    background: #fff;
}

.nav-logo {
    width: 284px;
}

.nav-profile {
    width: 84px;
}

/* CSS admin container */
.admin-container {
    
}

/* CSS admin sidebar */
.admin-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 10px;
    width: 100%;
    max-width: 290px;
    background: var(--white-color);
    margin-top: 2px;
    box-shadow: 1px 0 3px -2px #000;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 22px 64px;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
}

.sidebar-menu-item:active {
    background: #D9D9D9;
}

.sidebar-menu-item img {
    width:  28px;
    height: 28px;
}

.sidebar-menu-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 22px;
}

.sidebar-menu-item-hr {
    height: 1px;
    width: 80%;
    background-color: #D9D9D9;
    border: none;
    margin: 0 auto;
    line-height: 0;
}

/* CSS admin content */
.admin-container {
    display: flex;
}

.admin-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-product,
.admin-category,
.admin-color,
.admin-size,
.admin-role,
.admin-user {
    
}

.admin-product-nav,
.admin-category-nav,
.admin-color-nav,
.admin-size-nav,
.admin-role-nav,
.admin-user-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 23px;
    padding-bottom: 23px;
    box-shadow: 0 2px 4px -3px #000;
}

.admin-product-addproduct,
.admin-product-productlist,
.admin-category-add,
.admin-category-list,
.admin-color-add,
.admin-color-list,
.admin-size-add,
.admin-size-list,
.admin-role-add,
.admin-role-list,
.admin-user-add,
.admin-user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: var(--black-color);
    width: 200px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.admin-product-content,
.admin-category-content,
.admin-color-content,
.admin-size-content,
.admin-role-content,
.admin-user-content {
    display: flex;
    justify-content: center;
}

/* CSS add product */

.add-product,
.update-product,
.add-category,
.update-category,
.add-color,
.update-color,
.add-size,
.update-size,
.add-role,
.update-role,
.add-user,
.update-user {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: #fff;
}


.addproduct-itemfield,
.updateproduct-itemfield,
.category-itemfield,
.color-itemfield,
.size-itemfield,
.role-itemfield,
.user-itemfield {
    width: 100%;
    color: #333;
    font-size: 20px;
}

.addproduct-itemfield p,
.updateproduct-itemfield p, 
.category-itemfield p,
.color-itemfield p,
.size-itemfield p,
.role-itemfield p,
.user-itemfield p {
    margin-bottom: 10px;
}

.addproduct-itemfield input,
.updateproduct-itemfield input,
.category-itemfield input,
.color-itemfield input,
.size-itemfield input,
.role-itemfield input,
.user-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #333;
    font-size: 18px;
}

.addproduct-price,
.updateproduct-price {
    display: flex;
    gap: 40px;
}

.addproduct-upload-custom,
.updateproduct-upload-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.custom-file-upload {
    padding: 14px 60px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #555;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.file-chosen {
    flex-grow: 1;
    font-size: 18px;
    color: #888;
    border: 1px solid #ccc;
    padding: 14px 20px;
    border-radius: 0 4px 4px 0;
}

.add-product-selector,
.update-product-selector {
    padding: 10px;
    width: 110px;
    height: 50px;
    font-size: 18px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}

.addproduct-btn,
.updateproduct-btn,
.category-btn,
.color-btn,
.size-btn,
.role-btn,
.user-btn {
    margin-top: 20px;
    width: 230px;
    height: 52px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/* CSS product list */
.product-list,
.category-list,
.color-list,
.size-list,
.role-list,
.user-list {
    margin: 40px 40px;
}

.product-list-format-main {
    grid-template-columns: 0.5fr 1.25fr 1.75fr 0.75fr 1fr 1fr;
}

.product-list-format,
.category-list-format,
.color-list-format,
.size-list-format,
.role-list-format,
.user-list-format {
    font-size: 20px;
}

.product-list-img {
    height: 110px;
    margin:  0 auto;
}

.product-list-button,
.user-list-button {
    display: grid;
    gap: 14px;
}

.edit-button {
    color: var(--black-color);
    background-color: #6CBEC7;
}

.delete-button {
    color: var(--white-color);
    background-color: #C7253E;
}

.import-button {
    color: var(--white-color);
    background-color: #C77C25;
}

/* CSS category list */
.category-list-format-main,
.color-list-format-main,
.size-list-format-main,
.role-list-format-main {
    grid-template-columns: 1fr 1fr 4fr;
}

.user-list-format-main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
}

.category-list-button,
.color-list-button,
.size-list-button,
.role-list-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* CSS update category */
.update-category h1,
.update-color h1,
.update-size h1,
.update-role h1,
.update-user h1 {
    text-align: center;
    font-weight: 500;
}

a.detail-order-link {
    position: relative;
    background-color: #95D2B3;
    padding: .55rem .75rem;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

.detail-order-link > div {
    position: absolute;
    right: 0;
    top: 142%;
    background-color: red;
    width: 15rem;
    min-height: 3rem;
    display: none;
}



.detail-order-link:hover > div {
    display: block;
}
