.admin-stock-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 23px;
    padding-bottom: 23px;
    box-shadow: 0 2px 4px -3px #000;
}

.admin-stock-receipt,
.admin-stock-inventory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: var(--black-color);
    width: 200px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.admin-stock-content {
    display: flex;
    justify-content: center;
}

.receipt-stock {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: #fff;
}

.stock-itemfield {
    width: 100%;
    color: #333;
    font-size: 20px;
}

.stock-itemfield p {
    margin-bottom: 10px;
}

.stock-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #333;
    font-size: 18px;
}

.receipt-category-selector,
.receipt-color-selector,
.receipt-size-selector {
    width: 100%;
    padding: 10px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}
