<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link font jetbrains-mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <!-- Link font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>ManPage</title>
</head>
<body>
    <div class="main-kid-page">
        <div class="header">
            <div class="header_navbar jetbrains-mono">
                <div class="nav-logo">
                    <a th:href="@{/index}" class="flex" title="Homepage">
                        <img src="/static/image/logo_big.png" alt="Homepage_logo">
                        <span>SHOPPER</span>
                    </a>
                </div>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a th:href="@{/Man_HomePage}">Man</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Woman_HomePage}">Woman</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Kid_HomePage}">Kid</a></li>
                </ul>

                <div class="nav-login-cart">
                    <button th:switch="${user}" class="nav-login-cart-btn btn">
                        <a th:case="existed" th:href="@{/login}">Logout</a>
                        <a th:case="non-existed" th:href="@{/logout}">Login</a>
                    </button>
                    <div class="relative cur-pointer header-cart">
                        <div th:switch="${user}">
                            <img th:case="existed" onclick="window.location='/cart'" src="/static/image/cart_icon.png" alt="Cart Icon">
                            <img th:case="non-existed" onclick="alert('Bạn cần đăng nhập để xem giỏ hàng!!!')" src="/static/image/cart_icon.png" alt="Cart Icon">
                        </div>
                        <div class="nav-login-cart-count" th:text="${cart_size}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shop-category-container">
            <div class="shop-category-banner">
                <a href="#"><img class="shop-category-banner-img" src="/static/image/banner_kids.png" alt=""></a>
            </div>
            <div class="shop-category-indexSort jetbrains-mono">
                <p>
                    <span>Showing 1 - 12</span> out of 36 products
                </p>

            </div>
            <div class="shop-category-products flex-wrap hpporduct-list">
                <div class="hpporduct-item" th:each="product:${kid_products}">
                    <a th:href="${'/detail/'+product.productId}">
                        <img class="hpporduct-item-img" th:src="'/static/image/'+${product.image}" th:alt="${product.productName}">
                    </a>
                    <div class="hpporduct-item-deatil">
                        <p class="hpporduct-item-name item-name" th:text="${product.productName}"></p>
                        <div class="flex deatil-item-price">
                            <p class="hpporduct-item-new-price item-new-price" th:text="${product.price}"></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="more-post">
                <a href="" class="link-more-post lmp"><span>Xem thêm</span></a>
            </div>
        </div>

        <div class="footer jetbrains-mono">
            <div class="footer-logo">
                <img class="footer-logo-img logo-img" src="/static/image/logo_big.png" alt="">
                <p class="footer-logo-name logo-name">shopper</p>
            </div>

            <ul class="footer-links">
                <li>Branches</li>
                <li>About</li>
                <li>Contact</li>
            </ul>

            <div class="footer-social-icon">
                <div class="footer-icons-container" style="background-size: 100% 100%;background-image:url('/static/image/instagram_icon.png');width:25px;height:25px;position:relative;">
                    <a href="" style="width:100%;height:100%;position: absolute"></a>
                </div>
                <div class="footer-icons-container" style="background-size: 100% 100%;background-image:url('/static/image/pintester_icon.png');width:25px;height:25px;position:relative;">
                    <a href="" style="width:100%;height:100%;position: absolute"></a>
                </div>
                <div class="footer-icons-container" style="background-size: 100% 100%;background-image:url('/static/image/whatsapp_icon.png');width:25px;height:25px;position:relative;">
                    <a href="" style="width:100%;height:100%;position: absolute"></a>
                </div>
            </div>
            <div class="line-footer"></div>
            <div class="footer-copyright">
                <p>Copyright ©2024 - All Right Reserved.</p>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>