<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/log.css">
    <title>Login</title>
</head>
<body>
    <div id="main-login-page" class="jetbrains-mono">
        <div class="header">
            <div class="header_navbar jetbrains-mono">
                <div class="nav-logo">
                    <a th:href="@{/index}" class="flex" title="Homepage">
                        <img src="/static/image/logo_big.png" alt="Homepage_logo">
                        <span>SHOPPER</span>
                    </a>
                </div>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a style="color:grey;">Shop</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Man_HomePage}">Man</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Woman_HomePage}">Woman</a></li>
                    <li class="nav-menu-item"><a th:href="@{/Kid_HomePage}">Kid</a></li>
                </ul>

                <div class="nav-login-cart">
                    <button th:switch="${user}" class="nav-login-cart-btn btn">
                        <a th:case="existed" th:href="@{/logout}">Logout</a>
                        <a th:case="non-existed" th:href="@{/logout}">Login</a>
                    </button>
                    <div class="relative cur-pointer header-cart">
                        <div th:switch="${user}">
                            <a th:case="existed" th:href="@{/Cart}"></a>
                            <a th:case="non-existed" onclick="alert('Bạn cần đăng nhập để xem giỏ hàng!!!')"></a>
                            <img src="/static/image/cart_icon.png" alt="Cart Icon">
                        </div>
                        <div class="nav-login-cart-count" th:text="${cart_size}">0</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="login-signup-container">
            <div class="login-signup-form">
                <form id="login_form" class="login-signup-form-wrap-content" th:action="@{/login}" method="post" th:object="${user}">
                    <h1>Login</h1>
                    <div class="login-signup-fields">
                        <input class="login-signup-fields-input" type="text" name="username" placeholder="Phone number">
                        <input class="login-signup-fields-input" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="login-signup-btn">Continue</button>
                    <p class="login-signup-text-to-switch">Create an account?<span onclick="window.location='/regist'">Click here</span></p>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>