<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Login</title>
</head>
<body>
    <div id="main-login-page" class="jetbrains-mono">
        <div class="header">
            <div class="header_navbar jetbrains-mono">
                <div class="nav-logo">
                    <a href="index.html"><img class="nav-logo-img logo-img" src="/static/image/logo_big.png" alt="Logo"></a>
                    <p class="nav-logo-name logo-name">shopper</p>
                </div>

                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="">Shop</a></li>
                    <li class="nav-menu-item"><a href="">Man</a></li>
                    <li class="nav-menu-item"><a href="">Woman</a></li>
                    <li class="nav-menu-item"><a href="">Kid</a></li>
                </ul>

                <div class="nav-login-cart">
                    <button class="nav-login-cart-btn btn">Login</button>
                    <img class="nav-login-cart-img" src="/image/cart_icon.png" alt="cart icon">
                    <div class="nav-login-cart-count">0</div>
                </div>
            </div>
        </div>
        
        <div class="login-signup-container">
            <div class="login-signup-form">
                <form class="login-signup-form-wrap-content" th:action="@{/login}" method="post" th:object="${user}">
                    <h1>Login</h1>
                    <div class="login-signup-fields">
                        <input class="login-signup-fields-input" type="text" name="username" placeholder="Email address">
                        <input class="login-signup-fields-input" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="login-signup-btn">Continue</button>
                    <p class="ogin-signup-text-to-switch">Create an account?<span onclick="window.location='/regist'">Click here</span></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>