<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <!-- Link font jetbrains-mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <!-- Link font inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/product_detail.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <title>Product Layout</title>
</head>

<body>
<div id="main-product-layout-page">
    <div class="header">
        <div class="header_navbar jetbrains-mono">
            <div class="nav-logo">
                <a th:href="@{/index}" class="flex" title="Homepage">
                    <img src="/static/image/logo_big.png" alt="Homepage_logo">
                    <span>SHOPPER</span>
                </a>
            </div>

            <ul class="nav-menu">
                <li class="nav-menu-item"><a style="color:grey;">Shop</a></li>
                <li class="nav-menu-item"><a th:href="@{/Man_HomePage}">Man</a></li>
                <li class="nav-menu-item"><a th:href="@{/Woman_HomePage}">Woman</a></li>
                <li class="nav-menu-item"><a th:href="@{/Kid_HomePage}">Kid</a></li>
            </ul>

            <div class="nav-login-cart">
                <button th:switch="${user}" class="nav-login-cart-btn btn">
                    <a th:case="existed" th:href="@{/login}">Logout</a>
                    <a th:case="non-existed" th:href="@{/logout}">Login</a>
                </button>
                <div class="relative cur-pointer header-cart">
                    <div th:switch="${user}">
                        <img th:case="existed" onclick="window.location='/cart'" src="/static/image/cart_icon.png"
                             alt="Cart Icon">
                        <img th:case="non-existed" onclick="alert('Bạn cần đăng nhập để xem giỏ hàng!!!')"
                             src="/static/image/cart_icon.png" alt="Cart Icon">
                    </div>
                    <div class="nav-login-cart-count" th:text="${cart_size}">0</div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-layout-container">
        <div class="product-layout-breadcrum jetbrains-mono">
            <div class="breadcrum flex">
                <a th:href="@{/index}">Shop</a>
                <span class="breadcrum-arrow"></span>
                <a th:href="@{/Kid_HomePage}" th:text="${product.category.categoryName}"></a>
                <span class="breadcrum-arrow"></span>
                <span th:text="${product.productName}"></span>
                <p id="product-id" th:text="${product.productId}" style="display:none"></p>
            </div>
        </div>
        <div class="flex">
            <div class="product-layout-productdisplay flex">
                <div class="productdisplay-img-list">
                    <div class="display-product open-product relative">
                        <div><img th:src="${'/static/image/'+product.image}" src="/static/image/product_10.png"
                                  alt="">
                        </div>
                    </div>
                    <div class="display-product relative">
                        <div><img th:src="${'/static/image/'+product.image}" src="/static/image/product_11.png"
                                  alt="">
                        </div>
                    </div>
                </div>
                <div class="productdisplay-img">
                    <img th:src="${'/static/image/'+product.image}" src="/static/image/product_10.png" alt=""
                         class="productdisplay-main-img">
                </div>
            </div>
            <div class="productdisplay-right inter">
                <p class="productdisplay-name" th:text="${product.productName}"></p>
                <div class="productdisplay-right-prices">
                    <p class="productdisplay-right-price-old" th:text="${product.price}">
                        50.000đ
                    </p>
                </div>
                <div class="productdisplay-right-size">
                    <p>Chọn kích thước</p>
                    <div value class="select-size flex-wrap">
                        <button th:each="stock:${stocks}" th:value="${stock.size.sizeId}" type="button"
                                class="button-product relative" th:text="${stock.size.sizeName}"
                                th:onclick="getColor([[${product.productId}]],[[${stock.size.sizeId}]])">
                        </button>
                    </div>
                    <p>Chọn màu</p>
                    <div id="color-buttons" class="select-color flex-wrap">
                    </div>
                    <p>Số lượng</p>
                    <div class="set-product-quantity">
                        <span class="add-quantity" style="cursor: pointer" id="add-quantity" onclick="add()">+</span>
                        <span class="quantity-product" id="quantity-product">1</span>
                        <span class="delete-quantity " style="cursor: pointer" id="minus-quantity"
                              onclick="minus()">-</span>
                        <span class="product-quantity"><i id="product_quantity">0</i> sản phẩm có sẵn</span>
                    </div>
                    <button th:switch="${user}" th:case="existed" class="btn-for-buy-product" id="add-to-cart-btn"
                            onclick="getInfor()">ADD TO CART
                    </button>
                    <button th:switch="${user}" th:case="non-existed" class="btn-for-buy-product"
                            onclick="alert('Bạn cần đăng nhập!!!')">ADD TO CART
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-layout-descriptionbox inter">
        <div class="descriptionbox-navigator">
            <div class="descriptionbox-nav-box">
                Mô tả sản phẩm
            </div>
        </div>
        <div class="descriptionbox-description">
            <p class="productdisplay-right-description" th:text="${product.description}">
            </p>
        </div>
    </div>
    <div class="product-layout-relatedproduct inter mt-104">
        <h1 class="homepage-title relative">RELATED PRODUCTS</h1>
        <div class="relatedproducts flex-wrap hpporduct-list">
            <div class="hpporduct-item" th:each="product:${popular_products}">
                <a th:href="${'/detail/'+product.productId}">
                    <img class="hpporduct-item-img" th:src="'/static/image/'+${product.image}"
                         th:alt="${product.productName}" src="/static/image/product_1.png">
                </a>
                <div class="hpporduct-item-deatil">
                    <p class="hpporduct-item-name item-name" th:text="${product.productName}">Product 1</p>
                    <div class="flex deatil-item-price">
                        <i class="money-icon"></i>
                        <p class="hpporduct-item-new-price item-new-price" th:text="${product.price}">30.000đ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer jetbrains-mono">
        <div class="footer-logo">
            <img class="footer-logo-img logo-img" src="/static/image/logo_big.png" alt="">
            <p class="footer-logo-name logo-name">shopper</p>
        </div>

        <ul class="footer-links">
            <li>Branches</li>
            <li>About</li>
            <li>Contact</li>
        </ul>

        <div class="footer-social-icon">
            <div class="footer-icons-container"
                 style="background-size: 100% 100%;background-image:url('/static/image/instagram_icon.png');width:25px;height:25px;position:relative;">
                <a href="" style="width:100%;height:100%;position: absolute"></a>
            </div>
            <div class="footer-icons-container"
                 style="background-size: 100% 100%;background-image:url('/static/image/pintester_icon.png');width:25px;height:25px;position:relative;">
                <a href="" style="width:100%;height:100%;position: absolute"></a>
            </div>
            <div class="footer-icons-container"
                 style="background-size: 100% 100%;background-image:url('/static/image/whatsapp_icon.png');width:25px;height:25px;position:relative;">
                <a href="" style="width:100%;height:100%;position: absolute"></a>
            </div>
        </div>
        <div class="line-footer"></div>

        <div class="footer-copyright relative">
            <p>Copyright ©2024 - All Right Reserved.</p>
        </div>
    </div>
</div>

<!--<script>-->

<!--    document.querySelector('#add-to-cart-btn').addEventListener('click', () => {-->
<!--        debugger;-->
<!--        if (document.querySelector('#select-size').value != "" && document.querySelector('#select-color').value != "") {-->
<!--            window.location = '/addToCart?product_id=' + document.querySelector('#product-id').textContent + '&size_id=' + document.querySelector('#select-size').value + '&color_id=' + document.querySelector('#select-color').value;-->
<!--        } else {-->
<!--            window.location = '/addToCart?product_id=' + document.querySelector('#product-id').textContent + '&sid=' + null + '&cid=' + null;-->
<!--        }-->
<!--    })-->
<!--</script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/productdetail.js"></script>

</body>

</html>